@import '@fontsource/mukta-mahee';
@import '@fontsource-variable/montserrat';
@import '@fontsource-variable/inter';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothamRounded';
  src: url('/fonts/Gotham Rounded Medium.otf');
}

@font-face {
  font-family: 'GothamRoundedBold';
  src: url('/fonts/Gotham Rounded Bold.otf');
}

@font-face {
  font-family: 'GothamBook';
  src: url('/fonts/Gotham Rounded Book.otf');
}

@font-face {
  font-family: 'GothamLight';
  src: url('/fonts/Gotham Rounded Light.otf');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --max-width: 1440px;
    --max-width-content: 1220px;

    /* COLORS */
    --clr-green-01: #009444;
    --clr-green-02: #a6ce39;
    --clr-green-03: #0d3c00;

    --clr-white-01: #ffffff;
    --clr-white-02: #f4f5f0;

    --clr-gray: #6D6D6D;

    --clr-font: #444444;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* Global */
  .strong {
    @apply text-[--clr-green-01] font-gothamRounded text-sm font-light lg:text-lg;
  }

  .l-border {
    @apply border-l-2 border-[--clr-green-02] pl-4;
  }

  .l-border-dark {
    @apply border-l-4 border-[--clr-green-01] pl-4;
  }

  .p-text {
    @apply text-[--clr-font];
  }

  /* Nav */
  .link {
    @apply px-2 py-1 hover:text-[--clr-green-01];
  }

  .menu {
    @apply flex flex-col gap-4 w-[150px] text-center py-4;
  }

  .menu-link-item {
    @apply font-extrabold;
  }

  .menu-item {
    @apply hover:text-[--clr-green-01];
  }

  /* Home Page */
  .fert-before {
    @apply relative 
    before:font-bold before:content-['⚬'] before:text-lg 
    
    before:absolute before:top-5 before:right-1/2
    sm:before:top-0 sm:before:-right-4
    lg:before:top-1;
  }

  .newsletter {
    @apply absolute top-4 right-4;
  }
}

@layer utilities {
  .margin {
    @apply mx-auto 2xl:mx-44;
  }
}
