<!-- ---
import MainLayout from '@/layouts/MainLayout.astro';
import PageHeader from '@/components/PageHeader.astro';
import Sidebar from '@/components/blog/Sidebar.astro';
---

<MainLayout>
  <PageHeader pageUrl={'/blog'} title='Blog' />
  <div class="px-4 mt-20">
    <Sidebar />
  </div>
</MainLayout> -->
