---
import Leaf from '../../assets/home/leaf02.png.png';
import { Button } from '@/components/ui/button';
import { Image } from 'astro:assets';
---

<section
  class='bg-[url("../assets/home/bg.jpg")] h-screen bg-no-repeat bg-cover bg-center relative'
>
  <Image
    src={Leaf}
    alt={''}
    class={'absolute top-32 lg:top-36'}
    loading={'eager'}
  />
  <div class='px-4 bg-black/50 h-screen flex items-center'>
    <div
      class='mt-20 text-[--clr-white-01] text-center lg:text-left max-w-[--max-width-content] mx-auto flex-grow'
    >
      <h1
        class='text-5xl sm:text-7xl md:text-8xl sm:w-4/5 lg:w-3/5 sm:mx-auto lg:mx-0 font-bold font-gothamBold'
      >
        Fertilizers for the future
      </h1>
      <div
        class='mt-20 sm:mt-14 flex flex-col sm:flex-row gap-4 sm:gap-6 justify-center lg:justify-start items-center lg:text-xl lg:ml-2 font-gothamBook'
      >
        <p class='fert-before'>Soils Testing</p>
        <p class='fert-before'>Crop Cultivation</p>
        <p>Agricultural Progress</p>
      </div>
      <div
        class='flex flex-col lg:flex-row gap-4 justify-center lg:justify-start lg:ml-2 items-center mt-20 sm:mt-14'
      >
        <Button
          variant={'leaf'}
          size={'leafLg'}
          className='w-fit font-gothamLight'
          asChild
        >
          <a
            href='/shop'
            class='bg-[--clr-green-01] text-[--clr-white-01] rounded-r-full rounded-bl-full font-bold uppercase hover:brightness-90 h-11 px-6 sm:h-16 sm:px-8 flex items-center'
            >Explore Garden 🡒</a
          >
        </Button>
        <Button
          variant={'leaf'}
          size={'leafLg'}
          className='w-fit font-gothamLight'
          asChild
        >
          <a
            href='/about'
            class='bg-[--clr-green-01] text-[--clr-white-01] rounded-r-full rounded-bl-full font-bold uppercase hover:brightness-90 h-11 px-6 sm:h-16 sm:px-8 flex items-center'
            >Learn more 🡒</a
          >
        </Button>
      </div>
    </div>
  </div>
</section>
