---
import { Button } from "../ui/button"
---

<section class="py-12">
  <div class="text-center">
    <div>
      <strong class='strong font-light'>Popular Choices</strong>
      <h2
        class='text-3xl lg:text-5xl font-bold text-[--clr-green-03] my-4 lg:my-6 font-gothamRounded'
      >
        Popular Products
      </h2>
    </div>
    <div>
      <!-- TODO - Product log -->
    </div>
    <Button variant={'leaf'} size={'leafLg'}>Our catalogue</Button>
  </div>
</section>