---
type Props = {
  pageUrl: string;
  title: 'About Us';
};

const { pageUrl, title } = Astro.props;

const bg = (() => {
  switch (title) {
    case 'About Us':
      return 'bg-header-about';
    default:
      return;
  }
})();
---

<section class={`${bg} bg-no-repeat bg-cover bg-center mt-20 h-[440px]`}>
  <div
    class='px-4 bg-black/50 h-full w-full flex flex-col text-[--clr-white-01] justify-center items-center font-gothamRounded text-center'
  >
    <h1 class='text-6xl mb-8'>{title}</h1>
    <div class='flex gap-4 text-[18px]'>
      <h2><a href='/' class="hover:underline">Home</a></h2>
      <span>| |</span>
      <h2><a href={`${pageUrl}`} class="hover:underline">{title}</a></h2>
    </div>
  </div>
</section>
