---
import '@/styles/globals.css';
import ContactHeader from '../components/home/ContactHeader.astro';
import Navbar from '../components/home/Navbar';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>OmniFert</title>
  </head>
  <body>
    <header class='bg-[--clr-green-01]'>
      <ContactHeader />
      <Navbar client:load />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
